label {
    font-weight: 600;
    color: #555;
}

.btnn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.btnn-primary {
  color: #fff;
  background-color: #0536CE;
  border-color: #0536CE;
  border-radius: 25px;

  margin-top: 20px;
}
