

  @import url("https://fonts.googleapis.com/css?family=Poppins:400");
  *{
    box-sizing: border-box;
  }
  html{
    font: 16px/1.6 'Poppins', system-ui, sans-serif;
  }
  body{
    
      text-align: center;
  }
  [type="radio"]{
    display: none;
  }
  label{
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.25s;
  }
  [type="radio"]:checked + label{
      background: gold;
  }
  [type="radio"]:nth-of-type(2):checked ~ .gallery .card:not(.mc),
  [type="radio"]:nth-of-type(3):checked ~ .gallery .card:not(.mmc),
  [type="radio"]:nth-of-type(4):checked ~ .gallery .card:not(.rj),
  [type="radio"]:nth-of-type(6):checked ~ .gallery .card:not(.up),
  [type="radio"]:nth-of-type(5):checked ~ .gallery .card:not(.singer),
  [type="radio"]:nth-of-type(7):checked ~ .gallery .card:not(.special)
  {
    display: none;
  }
  .gallery{
    display: grid;
      justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  .card{
    margin: 0;
    background: darkslateblue;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 0 10px silver;
    transition: box-shadow 0.35s;
  }
  .card:hover{
    box-shadow: 0 0 25px #0009;
  }
  .card__image{
    width: 100%;
    object-fit: cover;
  }
  .card__caption{
      font-weight: bold;
    font-variant: small-caps;
    padding: 0.5rem;
    text-align: center;
    color: gold;
    font-size: 18px;
  }
  
  /* Donate layer */
  .donate{
      position: fixed;
      bottom: 0.25rem;
      right: 0.25rem; 
      border-radius: 0.5rem;
      background-color: whitesmoke;
      padding: 0 1rem;
      font-weight: bold;
      color: dimgray;
  }
  .donate a{
      text-decoration: none;
      color: orangered;
      border-bottom: 2px solid transparent;
      transition: 0.35s;
  }
  .donate a:hover{
      border-bottom-color: orangered;
  }


/*.body{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  grid-column-gap: 10px;
}
.body.-open{
  display: block;
}
*/


details {
  position:relative;
}
details summary {
  display:block;
  cursor: pointer;
  color: white;
}
details summary:focus {
  outline:none;
}
details[open] {
  display:block;
  padding-bottom:25px;
  padding-top:10px;
  animation: open .2s linear;
}
details[open] summary {
  position:absolute;
  bottom: 0;
  left:0;
}

details #open{padding-left:5px;text-align:middle;}
details #open:after{
    display: inline-block;
    position:relative;
    top: -3px;
    padding-left: 8px;
    content: "\00bb";
    transform: rotate(90deg);
}
details[open] #open{display:none;}
details #close{display:none;}
details[open] #close{display:block;}

::-webkit-details-marker {display: none;}





@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}