body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .zero{
    margin:0px !important;
    padding:0px !important;
  }
  .white{
    color:white;
    font-size: 11px;
    font-weight: 600;
  }
  #addQuestion{
   
    width: 100%;
    color: #333333;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
  }
  
  #outer {height: 400px; overflow: hidden; position: relative;}
  #outer[id] {display: table; position: static;}
  
  #middle {position: absolute; top: 55%;} /* For explorer only*/
  #middle[id] {display: table-cell; vertical-align: middle; width: 100%;}
  
  #inner {position: relative; top: -50%} 
  
  .audito{
    
      background-image: url("../images/6.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height:100vh;
      ;
    }
  .ss{
    height:100vh; 
     background-image: url("../images/6.jpg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
  }
    .imgLogo{
      height:40px
    }

    .imgLogo1{
      height:50px
    }
  
    .yellow {
        color: #fff;
        font-size: 12px;
        margin-top: -70px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
  
    .fullscreen-icon {
      z-index: 1000000;
  }
   
  .colorWhite{
    color:white;
    font-size: 17px;
    margin-top: -9px;
  }
  
  .hero-image {
    background-image: url("../back.jpg");
    background-color: #cccccc;
    height: 220vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-image-expo {
    background-image: url("../Amazon\ 02_Photo\ -\ 19\ \(1\).jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text-expo {
    text-align: center;
    position: absolute;
    top: 66%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-image-expo-zone1 {
    background-image: url("../Optimized-2\ stall\ bg\ \(1\).jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
  }
  
  .check{
    background-image: url("../18715-tv-panel-vector-thumb.png");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-expo-zonetab {
    background-image: url("../back.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-image-expo-zone1234 {
    background-image: url("../0002\ final\ 2.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .zone1Video{
    background-image: url("../without\ TV/ANN ARBOR T-SHIRT COMPANY.png");
    background-color: #cccccc;
    height: 95vh;   
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .zone2Video{  background-image: url("../without\ TV/BRITTLE BROTHERS.png");
    background-color: #cccccc;
    height: 95vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
    
  .zone3Video{  background-image: url("../without\ TV/D.O.G.I.png");
    background-color: #cccccc;
    height: 95vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}

    .zone4Video{  background-image: url("../without\ TV/KANDA CHOCOLATES.png");
      background-color: #cccccc;
      height: 95vh;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;}

      .zone5Video{  background-image: url("../without\ TV/LILLIES OF CHARLESTON.png");
        background-color: #cccccc;
        height: 95vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;}

        .zone6Video{  background-image: url("../LUMINAID\ .png");
          background-color: #cccccc;
          height: 95vh;
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;}

          .zone7Video{  background-image: url("../without\ TV/PIPERWAI NATURAL DEODORANT.png");
            background-color: #cccccc;
            height: 95vh;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;}

            .zone8Video{  background-image: url("../without\ TV/ROBO WUNDERKIND.png");
              background-color: #cccccc;
              height: 95vh;
              background-position: top;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;}

              .zone9Video{  background-image: url("../without\ TV/ROCCO & ROXIE SUPPLY CO..png");
                background-color: #cccccc;
                height: 95vh;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;}

                .zone10Video{  background-image: url("../without\ TV/SOUNDBOKS.png");
                  background-color: #cccccc;
                  height: 95vh;
                  background-position: top;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: relative;}

                  .zone11Video{  background-image: url("../without\ TV/TAKASHO GARDEN LIVING.png");
                    background-color: #cccccc;
                    height: 95vh;
                    background-position: top;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;}

                    .zone12Video{  background-image: url("../without\ TV/THE CUT BUDDY.png");
                      background-color: #cccccc;
                      height: 95vh;
                      background-position: top;
                      background-repeat: no-repeat;
                      background-size: cover;
                      position: relative;}



  
  .hero-text-expo-zone1 {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
    
  .hero-text-know-center {
    text-align: center;
    position: absolute;
    top: 72%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .know-center{  background-image: url("../images/Optimized-0002\ final\ 2\ \(3\).png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
  .widthHeightzone1{
     height: 450px;
     width: 300px;
     margin-left: 2rem;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
     background-image: url("../back.jpg"); 
    background-position: bottom;
   margin-top: -2.625rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid white;
    margin-left: 30%;

   
  }

  .dropdown-menu.show{
    background-image: url("../back.jpg");
    border: 5px solid white;
    margin-top: -1.875rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
  
    a.dropdown-item:hover, a.dropdown-item{
      color:white;
     padding-left: 1.25rem;
      font-size: 14px;
      background: transparent;
      font-weight: 600;
    }

    .know-center-padding{
    padding: 0px 400px !important;
  
  
  }
 
  .dropKnow{
    font-size:10px;
    border-color:transparent !important;
    background-color:transparent !important ;
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-size: .8rem !important;
    color:black !important;
  }
  
  
  .dropKnow1{
    font-size:10px;
    border-color:transparent !important;
    background-color:transparent !important ;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: .8rem !important;
    color:black !important;}  

    .center{
      text-align: center;
    }
  
    div#player{
      max-width: 100% !important;
    }
  
    .wrapper         {width:100%;height:90%;margin:0 auto;}
    .h_iframe        {position:relative;}
    .h_iframe .ratio {display:block;width:100%;height:auto;}
    .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
    
    .hero-text-know-centerk {
      text-align: center;
      position: absolute;
      top: 77%;
      left: 50%;
      text-align: center;
      width: 100%;
      transform: translate(-50%, -50%);
      color: white;
  }

  .knowBtn{
    color: #fff; 
   background-color: transparent; 
     border-color: transparent; 
    font-size: 11px;
    color: transparent;
    font-weight: 700;
  }


  .zone3Header{
    margin-top: -45px;
  }

  .zero{
    margin:0px !important;
    padding:0px !important;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0px !important; 
     margin-left: 0px !important; 
}


.pt2{
margin-top: 2rem;

}


.dnV{
display: none;
}

.paddingLobby{
  padding:0rem 2rem
}

.yellowColor{
  color: black !important;
  font-size:12px !important;
  font-weight:700;
  letter-spacing: 1px !important;
    }

    .zones{
      color: black !important;
      font-size:12px !important;
      letter-spacing: 1px !important;
      font-weight: 700 !important;
    }

    .zones1{
      color: white !important;
      font-size:13px !important;
      letter-spacing: 1px !important;
      font-weight: 700 !important;
    }

    .breakout{
      color: white !important;
      font-size:12px !important;
      letter-spacing: 1px !important;
      font-weight: 600;
    }


   

    .expFont{
font-size: 14px !important;
color: black !important;
    }

    .blackColor{
      color:black !important;
      font-size:14px !important;
        }




        .navPadding{
          padding: 0rem 4rem;
        }

        .navPadding1{
          padding: 5rem 0rem 0rem 45rem;
          
        }



        .disabled { 
          pointer-events: none; 
          cursor: default; 
      } 


      .bold{
        font-weight: 600;
      }

      .fotterPadding{

        padding: 0rem 5rem;
      }


      .bd  {
        background-image: url("../images/login/P1.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: cover;
                
      }

      .bd2  {
        background-image: url("../images/login/P2.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
                
      }

      .center22 {
        margin: auto;
        width: 60%;
      
      }.outer {
        display: table;
        position: absolute;
        top: 5.306667rem;
        left: 14rem;
        height: 100%;
        width: 100%;
        z-index: 99;
    }
      
      .middle {
        display: table-cell;
        vertical-align: middle;
      }
      
      .inner {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        /*whatever width you want*/
      }

      

      .geeks { 
        
        overflow: hidden; 
        margin: 0 auto; 
    } 
       
    /* .geeks img { 
        width: 100%; 
        transition: 0.5s all ease-in-out; 
    } 
       
    .geeks:hover img { 
        transform: scale(1.5); 
    }  */

    .j { 
      width: 100%; 
      opacity: 1;
      transition: 0.5s all ease-in-out; 
  } 
     
 .j:hover,.j.b { 
      transform: scale(1.2); 
      opacity: 1;
  } 

.text12{

  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: 12PX;
  
}


.gif{
  margin-left: 4.3125rem;
  margin-top: -4.75rem;
  
}

.feed{
  margin-left: 1.875rem;
}


.info{
  margin-top: -10.625rem;
  margin-left: 3.5rem;
}

.hideline{
  text-decoration: none !important;
}

.dropdown-menu{
  width: 95%;
}

.icona{
  margin: 21.875rem 0rem 0rem 27.938rem;
}



